@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body,html{
	background-color: #1C1E20;
	margin: 0em;
	scroll-behavior: smooth;
}

#nav{
width: 100%;
position: fixed;
top: 0px;
transition: .5s;
text-align: center;
z-index: 9999;
background-color: #000;
}
#nav ul li{
list-style: none;
display: inline-block;
padding: 13px 40px;
margin-top: 1vw;
}
.nav-toggle{
width: 100%;
padding: 10px 20px;
background-color: #F8F9F9;
text-align: right;
box-sizing: border-box;
color: black;
font-size: 5vw;
display: none;
}
ul li a{
text-decoration: none;
color: #FFF;
font-family: 'Nunito', sans-serif;
font-weight: 300;
font-size: 1.3vw;
text-align: center;
margin-top: 1.5vw;
}
ul li a:hover{
color: #F4D03F;
transition: 1s;
text-decoration-line: none;
}
.logo{
width: 17vw;
height: 4vw;
float: left;
margin-top: .7vw;
}
.highlight-content{
	background-image: url('../images/bg-highlight.png');
	height: 62vw;
	width: 100%;
	background-size: 100%;
	background-position: center;
	object-fit: cover;
	background-color: #1C1E20;
}
.highlight-content-img{
height: 50vw;
width: 25vw;
position: absolute;
top: 9vw;
left: 12vw;
}
.highlight-content-heading{
top: 15vw;
left: 40vw;
position: absolute;
}
.highlight-content-heading-1{

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 8vw;
line-height: 94px;
color: #FFFFFF;
}
.highlight-content-heading-2{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 8vw;
line-height: 94px;
color: #FFFFFF;
}
.highlight-content-logo{
position: absolute;
top: 17vw;
left: 1vw;
}
.highlight-content-logo-img{
height:12vw;
width: 13vw;
}
.highlight-content-logo-img-heading{
position: absolute;
top: 2vw;
left: 11vw;
width: 30vw;
}
.highlight-content-logo-img-heading-title{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 4vw;
color: #FFFFFF;
text-align: center;
}
.highlight-content-logo-img-heading-details{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 1vw;
color: #FFFFFF;
text-align: center;
}
#about-us{
	height: 43vw;
	width: 100%;
	background-color: #1C1E20;
}
.about-us-bg{
height: 38vw;
width: 100%;
margin-top: 8vw;
float: right;
}
.about-us-wrapper{
position: absolute;
width: 60vw;
top: 75vw;
left: 20vw;
}
.about-us-wrapper-title{
	font-size: 3vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
text-align: center;
color: rgba(243, 156, 18, 0.96);
}
.about-us-wrapper-paragraph{
font-size: 1.2vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: #FFF;
text-align: center;
}
#blog{
	height: 48vw;
	width: 100%;
	background-color: #1C1E20;
}
.blog-wrapper{
	top: 113vw;
	width: 100%;
	position: absolute;
}
.blog-wrapper-title{
font-size: 3vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: rgba(243, 156, 18, 0.96);
text-align: center;
}
.blog-wrapper-details{
font-size: 1.5vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: #FFF;
text-align: center;
}
.blog-wrapper-card{
height: 28vw;
width: 20vw;
background-color: #fFF;
border-radius: 10px;
margin-left: 9vw;
margin-top: 2vw;
display: inline-block;
cursor: pointer;
}
.blog-wrapper-container{
	height: 16vw;
	width: 20vw
	border-radius:10px;
}
.blog-wrapper-container-img{
	height: 16vw;
	width: 20vw;
	border-radius:4px;
	position: absolute;
}
.blog-wrapper-container-text{
position: absolute;
top: 25vw;
width: 20vw;
}
.blog-wrapper-container-text-title{
font-size: 1.5vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: #000;
text-align: center;
}
.btn-read{
outline-style: none;
background: #EA2A2A;
border-radius: 4px;
border-style: none;
position: absolute;
padding: 1vw 4vw;
color: #FFF;
top: 6vw;
left: 4.5vw;
}
.btn-read:hover{
	transition: .5s;
	background-color: #CB4335;
}
.blog-wrapper-card:hover{
  box-shadow: 0 8px 16px 0 rgba(227, 227, 227 ,0.9);
  transition: .4s;
}
#pricing{
	height: 48vw;
	width: 100%;
	background-image: url('../images/bg-pricing.png');
	background-size: cover;
	background-position: center;
}
.pricing-heading{
	width: 100%;
	top:160vw;
	position: absolute;
}
.pricing-heading-title{
	font-size: 3vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: #000;
text-align: center;
}
.pricing-heading-paragraph{
	font-size: 1.5vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: #FFF;
text-align: center;
}
.pricing-heading-card{
background-color: #FFF;
height: 30vw;
width: 20vw;
border-radius: 4px;
margin-left: 9vw;
display: inline-block;
}
.pricing-heading-container{
height: 8vw;
width: 20vw;
background-color: #000;
}
.pricing-heading-container-text{
width: 20vw;
top: 10.5vw;
position: absolute;
}
.pricing-heading-container-text-title{
font-size: 2vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: rgba(241, 196, 15, 0.96);
text-align: center;
}
.pricing-heading-container-text-title-small{
	font-size: 1vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: #E74C3C;
text-align: center;
}
.pricing-heading-container-text-details{
top: 5.5vw;
position: absolute;	
width: 20vw;

}
.pricing-heading-container-text-details-paragraph{
font-size: 2vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: #000;
text-align: center;
}
hr{
	width: 80%;
}
.pricing-heading-container-text-details-paragraph-small{
font-size: 1vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: #A6ACAF;
text-align: center;
}
.btn-find{
	padding: .5vw 1vw;
	background-color: #000;
	color: #FFF;
	outline-style: none;
	border-style: none;
	border-radius: 5px;
	font-size: 1vw;
	margin-left: 6vw;
	outline: none;
	position: absolute;
	margin-top: .5vw;
}
.btn-find:hover{
background-color: #2E4053;
transition: .3s;
}
.downloads{
height: 30vw;
width: 100%;
background-color: #FBF1F9;


}
.downloads-img{
position: absolute;
top: 205vw;
height: 20vw;
width: 100%;
}
.downloads-img-wrapper{
height: 20vw;
width: 20vw;
margin-left: 4vw;
display: inline-block;
}
.downloads-img-caption{
font-size: 2vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: #000;
text-align: center;
margin-top: 1vw;
}
.downloads-img-icon{
height: 10vw;
width: 10vw;
margin-left: 5vw;
margin-top: 1vw;

}
footer{
	background-color: #FFF;
	height: 28vw;
	width: 100%;
}
#footer-wrapper{
width: 100%;
height: 20vw;
top: 233vw;
position: absolute;
}
.footer-wrapper-menu{
height: 20vw;
width: 20vw;
display: inline-block;
margin-left: 4vw;
}
.footer-wrapper-menu-title{
font-size: 1.8vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: #000;
text-align: left;
margin-top: 1vw;
}
.footer-wrapper-menu-paragraph{
font-size: 1.5vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: #5D6D7E;
text-align: left;
margin-top: 1vw;
line-height: 40px;
}
.footer-wrapper-copyright{
	background-color: #000;
	height: 60px;
	width: 100%;
	position: absolute;
	top: 255vw;
}
.footer-wrapper-copyright-heading{
	font-size: 1.3vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: rgba(243, 156, 18, 0.97);
text-align: center;
margin-top: 1vw;
line-height: 40px;
}
.footer-wrapper-menu-downloads{
width: 14vw;
height: 4vw;
margin-top: 1vw;
cursor: pointer;
}

.alert {
	  position: fixed;
  padding: 30px;
  top: 13vw;
  left: 25vw;
  background-image: url('../images/bg-pricing.png');
  background-repeat: no-repeat;
  background-size: contain;
  color: white;
  width: 50%;	
  z-index: 999;
  height: 30vw;
  font-size: 3vw;
  text-align: center;
}

.closebtn {
  margin-left: 15px;
  font-weight: bold;
  float: right;
  font-size: 52px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;

}
strong{
margin-top: 8vw;
}
.alert-paragraph{
font-size: 1vw;
color: #000;
}
.alert-title{
	font-size: 1.5vw;
}
/*Netbook & Small Laptop*/
@media only screen and (max-width: 1300px){
body,html{
	background-color: #1C1E20;
	margin: 0em;
	scroll-behavior: smooth;
}
#nav{
width: 100%;
position: fixed;
top: 0px;
transition: .5s;
text-align: center;
z-index: 9999;
background-color: #000;
}
#nav ul li{
list-style: none;
display: inline-block;
padding: 13px 40px;
margin-top: 1vw;
}
.nav-toggle{
width: 100%;
padding: 10px 20px;
background-color: #F8F9F9;
text-align: right;
box-sizing: border-box;
color: black;
font-size: 5vw;
display: none;
}
ul li a{
text-decoration: none;
color: #FFF;
font-family: 'Nunito', sans-serif;
font-weight: 300;
font-size: 1.3vw;
text-align: center;
margin-top: 1.5vw;
}
ul li a:hover{
color: #F4D03F;
transition: 1s;
text-decoration-line: none;
}
.logo{
width: 17vw;
height: 4vw;
float: left;
margin-top: .7vw;
}
.highlight-content{
	background-image: url('../images/bg-highlight.png');
	height: 62vw;
	width: 100%;
	background-size: 100%;
	background-position: center;
	object-fit: cover;
	background-color: #1C1E20;
}
.highlight-content-img{
height: 50vw;
width: 25vw;
position: absolute;
top: 9vw;
left: 12vw;
}
.highlight-content-heading{
top: 15vw;
left: 40vw;
position: absolute;
}
.highlight-content-heading-1{

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 8vw;
line-height: 94px;
color: #FFFFFF;
}
.highlight-content-heading-2{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 8vw;
line-height: 94px;
color: #FFFFFF;
}
.highlight-content-logo{
position: absolute;
top: 20vw;
left: 1vw;
}
.highlight-content-logo-img{
height:12vw;
width: 13vw;
}
.highlight-content-logo-img-heading{
position: absolute;
top: 2vw;
left: 11vw;
width: 30vw;
}
.highlight-content-logo-img-heading-title{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 4vw;
color: #FFFFFF;
text-align: center;
}
.highlight-content-logo-img-heading-details{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 1vw;
color: #FFFFFF;
text-align: center;
}
#about-us{
	height: 43vw;
	width: 100%;
	background-color: #1C1E20;
}
.about-us-bg{
height: 38vw;
width: 100%;
margin-top: 8vw;
float: right;
}
.about-us-wrapper{
position: absolute;
width: 60vw;
top: 70vw;
left: 20vw;
}
.about-us-wrapper-title{
	font-size: 3vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
text-align: center;
color: rgba(243, 156, 18, 0.96);
}
.about-us-wrapper-paragraph{
font-size: 1.2vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: #FFF;
text-align: center;
}
#blog{
	height: 48vw;
	width: 100%;
	background-color: #1C1E20;
}
.blog-wrapper{
	top: 113vw;
	width: 100%;
	position: absolute;
}
.blog-wrapper-title{
font-size: 3vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: rgba(243, 156, 18, 0.96);
text-align: center;
}
.blog-wrapper-details{
font-size: 1.5vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: #FFF;
text-align: center;
}
.blog-wrapper-card{
height: 28vw;
width: 20vw;
background-color: #fFF;
border-radius: 10px;
margin-left: 9vw;
margin-top: 2vw;
display: inline-block;
cursor: pointer;
}
.blog-wrapper-container{
	height: 16vw;
	width: 20vw
	border-radius:10px;
}
.blog-wrapper-container-img{
	height: 16vw;
	width: 20vw;
	border-radius:4px;
	position: absolute;
}
.blog-wrapper-container-text{
position: absolute;
top: 26vw;
width: 20vw;
}
.blog-wrapper-container-text-title{
font-size: 1.5vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: #000;
text-align: center;
}
.btn-read{
outline-style: none;
background: #EA2A2A;
border-radius: 4px;
border-style: none;
position: absolute;
padding: 1vw 4vw;
color: #FFF;
top: 5vw;
left: 4.5vw;
}
.btn-read:hover{
	transition: .5s;
	background-color: #CB4335;
}
.blog-wrapper-card:hover{
  box-shadow: 0 8px 16px 0 rgba(227, 227, 227 ,0.9);
  transition: .4s;
}
#pricing{
	height: 48vw;
	width: 100%;
	background-image: url('../images/bg-pricing.png');
	background-size: cover;
	background-position: center;
}
.pricing-heading{
	width: 100%;
	top:160vw;
	position: absolute;
}
.pricing-heading-title{
	font-size: 3vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: #000;
text-align: center;
}
.pricing-heading-paragraph{
	font-size: 1.5vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: #FFF;
text-align: center;
}
.pricing-heading-card{
background-color: #FFF;
height: 30vw;
width: 20vw;
border-radius: 4px;
margin-left: 9vw;
display: inline-block;
}
.pricing-heading-container{
height: 8vw;
width: 20vw;
background-color: #000;
}
.pricing-heading-container-text{
width: 20vw;
top: 10.5vw;
position: absolute;
}
.pricing-heading-container-text-title{
font-size: 2vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: rgba(241, 196, 15, 0.96);
text-align: center;
}
.pricing-heading-container-text-title-small{
	font-size: 1vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: #E74C3C;
text-align: center;
}
.pricing-heading-container-text-details{
top: 6vw;
position: absolute;	
width: 20vw;

}
.pricing-heading-container-text-details-paragraph{
font-size: 2vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: #000;
text-align: center;
}
hr{
	width: 80%;
}
.pricing-heading-container-text-details-paragraph-small{
font-size: 1vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: #A6ACAF;
text-align: center;
}
.btn-find{
	padding: .5vw 1vw;
	background-color: #000;
	color: #FFF;
	outline-style: none;
	border-style: none;
	border-radius: 5px;
	font-size: 1vw;
	margin-left: 6vw;
	outline: none;
	position: absolute;
	margin-top: -1.3vw;
}
.btn-find:hover{
background-color: #2E4053;
transition: .3s;
}
.downloads{
height: 30vw;
width: 100%;
background-color: #FBF1F9;


}
.downloads-img{
position: absolute;
top: 205vw;
height: 20vw;
width: 100%;
}
.downloads-img-wrapper{
height: 20vw;
width: 20vw;
margin-left: 4vw;
display: inline-block;
}
.downloads-img-caption{
font-size: 2vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: #000;
text-align: center;
margin-top: 1vw;
}
.downloads-img-icon{
height: 10vw;
width: 10vw;
margin-left: 5vw;
margin-top: 1vw;

}
footer{
	background-color: #FFF;
	height: 30vw;
	width: 100%;
}
#footer-wrapper{
width: 100%;
height: 24vw;
top: 235vw;
position: absolute;
}
.footer-wrapper-menu{
height: 20vw;
width: 20vw;
display: inline-block;
margin-left: 4vw;
}
.footer-wrapper-menu-title{
font-size: 1.8vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: #000;
text-align: left;
margin-top: 1vw;
}
.footer-wrapper-menu-paragraph{
font-size: 1.5vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: #5D6D7E;
text-align: left;
margin-top: 1vw;
line-height: 40px;
}
.footer-wrapper-copyright{
	background-color: #000;
	height: 60px;
	width: 100%;
	position: absolute;
	top: 255vw;
}
.footer-wrapper-copyright-heading{
	font-size: 1.3vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: rgba(243, 156, 18, 0.97);
text-align: center;
margin-top: 1vw;
line-height: 40px;
}
.footer-wrapper-menu-downloads{
width: 14vw;
height: 4vw;
margin-top: 1vw;
cursor: pointer;
}


.alert {
  padding: 30px;
  top: 13vw;
  left: 25vw;
  background-image: url('../images/bg-pricing.png');
  background-repeat: no-repeat;
  background-size: contain;
  color: white;
  width: 50%;	
  z-index: 999;
  height: 30vw;
  font-size: 3vw;
  text-align: center;
}

.closebtn {
  margin-left: 15px;
  font-weight: bold;
  float: right;
  font-size: 52px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;

}
strong{
margin-top: 8vw;
}
.alert-paragraph{
font-size: 1vw;
color: #000;
}
.alert-title{
	font-size: 1.5vw;
}
/*Tablet & iPad View*/

@media only screen and (max-width: 1000px) {
body,html{
background-color: #FFF;
margin: 0em;
padding: 0px;
scroll-behavior: smooth;
}

#nav{
background-color: #000;
}
.nav-toggle{
width: 100%;
padding: 10px 20px;
text-align: right;
margin-left: 0vw;
box-sizing: border-box;
color: #FFF;
display: block;
font-size: 10vw;
background-color: #000;
}
ul{
width: 100%;
display: none;
}

#nav ul li{
display: block;
text-align: center;
}
.active{
display: block;
}
ul li a{
text-decoration: none;
color: orange;
font-family: 'Nunito', sans-serif;
font-weight: 300;
font-size: 6vw;
text-align: center;
}
.highlight-content{
	background-image: url('../images/bg-highlight.png');
	height:250vw;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-color: #1C1E20;
	background-repeat: no-repeat;
}
.highlight-content-img{
height: 55vw;
width: 30vw;
position: absolute;
top: 35vw;
left: 10vw;
}
.highlight-content-heading{
top: 40vw;
left: 42vw;
position: absolute;
}
.highlight-content-heading-1{

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 8vw;
line-height: 94px;
color: #FFFFFF;
}
.highlight-content-heading-2{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 8vw;
line-height: 9px;
color: #FFFFFF;
}
.highlight-content-logo{
position: absolute;
top: 60vw;
left: -22vw;
}
.highlight-content-logo-img{
height:60vw;
width: 60vw;
}
.highlight-content-logo-img-heading{
position: absolute;
top: 70vw;
left: 1vw;
width: 100%;
}
.highlight-content-logo-img-heading-title{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 10vw;
color: #FFFFFF;
text-align: center;
}
.highlight-content-logo-img-heading-details{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 5vw;
color: #FFFFFF;
text-align: center;
}
#about-us{
	height: 220vw;
	width: 100%;
	background-color: #1C1E20;
}
.about-us-bg{
height: 18vw;
width: 100%;
margin-top: 3vw;
float: right;
}
.about-us-wrapper{
position: absolute;
width: 60vw;
top: 244vw;
left: 22vw;
}
.about-us-wrapper-title{
	font-size: 7vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
text-align: center;
color: rgba(243, 156, 18, 0.96);
}
.about-us-wrapper-paragraph{
font-size: 4vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: #FFF;
text-align: center;
}

#blog{
	height: 365vw;
	width: 100%;
	background-color: #1C1E20;
}
.blog-wrapper{
	top: 480vw;
	width: 100%;
	position: absolute;

}
.blog-wrapper-title{
font-size: 9vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: rgba(243, 156, 18, 0.96);
text-align: center;
}
.blog-wrapper-details{
font-size: 4vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: #FFF;
text-align: center;
}
.blog-wrapper-card{
height: 100vw;
width: 80vw;
background-color: #fFF;
border-radius: 10px;
margin-left: 9vw;
margin-top: 2vw;
display: inline-block;
cursor: pointer;
}
.blog-wrapper-container{
	height: 60vw;
	width: 100%;
	border-radius:10px;
}
.blog-wrapper-container-img{
	height: 60vw;
	width: 80%;
	border-radius:4px;
	position: absolute;
}
.blog-wrapper-container-text{
position: absolute;
margin-top: 60vw;
width: 80%;
}
.blog-wrapper-container-text-1{
position: absolute;
margin-top: 160vw;
width: 80%;
}
.blog-wrapper-container-text-2{
position: absolute;
margin-top: 265vw;
width: 80%;
}


.blog-wrapper-container-text-title{
font-size: 5vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: #000;
text-align: center;
}
.btn-read{
outline-style: none;
background: #EA2A2A;
border-radius: 4px;
border-style: none;
position: absolute;
padding: 4vw 12vw;
color: #FFF;
font-size: 5vw;
margin-top: 10vw;
margin-left: 17vw;
}
.btn-read:hover{
	transition: .5s;
	background-color: #CB4335;
}
.blog-wrapper-card:hover{
  box-shadow: 0 8px 16px 0 rgba(227, 227, 227 ,0.9);
  transition: .4s;
}
#pricing{
	height: 400vw;
	width: 100%;
	background-image: url('../images/bg-pricing.png');
	background-size: cover;
	background-position: center;
}
.pricing-heading{
	width: 100%;
	top:850vw;
	position: absolute;
}
.pricing-heading-title{
	font-size: 10vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: #000;
text-align: center;
}

.pricing-heading-paragraph{
	font-size: 4vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: #FFF;
text-align: center;
}
.pricing-heading-card{
background-color: #FFF;
height: 110vw;
width: 80vw;
border-radius: 4px;
margin-left: 9vw;
margin-top: 3vw;
}
.pricing-heading-container{
height: 28vw;
width: 80vw;
background-color: #000;
}
.pricing-heading-container-text{
width: 80vw;
margin-top: 26vw;
position: absolute;
}
.pricing-heading-container-text-title{
font-size: 8vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: rgba(241, 196, 15, 0.96);
text-align: center;
margin-top: 2vw;
}
.pricing-heading-container-text-title-1{
font-size: 8vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: rgba(241, 196, 15, 0.96);
text-align: center;
margin-top: 110vw;
margin-left: 23vw;
position: absolute;
}
.pricing-heading-container-text-title-2{
font-size: 8vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: rgba(241, 196, 15, 0.96);
text-align: center;
margin-top: 230vw;
margin-left: 14vw;
position: absolute;
}
.pricing-heading-container-text-title-small{
	font-size: 4vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: #E74C3C;
margin-top: 120vw;
text-align: center;
}
.pricing-heading-container-text-details{
margin-top: 15vw;
position: absolute;	
width: 100%;
}
.pricing-heading-container-text-details-paragraph{
font-size: 8vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: #000;
text-align: center;
}
hr{
	width: 80%;
	top: 0;
}
.pricing-heading-container-text-details-paragraph-small{
font-size: 6vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: #A6ACAF;
text-align: center;
}
.btn-find{
	padding: 1vw 7vw;
	background-color: #000;
	color: #FFF;
	outline-style: none;
	border-style: none;
	border-radius: 5px;
	font-size: 5vw;
	margin-left: 16vw;
	outline: none;
	position: absolute;
	margin-top: 1vw;
}
.btn-find:hover{
background-color: #2E4053;
transition: .3s;
}
.pricing-heading-container-text-details-1{
margin-top: 130vw;
position: absolute;	
width: 100%;
}
.pricing-heading-container-text-details-paragraph-1{
font-size: 8vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: #000;
text-align: center;
}
hr{
	width: 80%;
	top: 0;
}
.pricing-heading-container-text-details-paragraph-small-1{
font-size: 5vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: #A6ACAF;
text-align: center;
}
.btn-find-1{
	padding: 1vw 7vw;
	background-color: #000;
	color: #FFF;
	outline-style: none;
	border-style: none;
	border-radius: 5px;
	font-size: 5vw;
	margin-left: 16vw;
	outline: none;
	position: absolute;
	margin-top: -15vw;
}
.pricing-heading-container-text-details-2{
margin-top: 247vw;
position: absolute;	
width: 100%;
}
.pricing-heading-container-text-details-paragraph-2{
font-size: 8vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: #000;
text-align: center;
}
hr{
	width: 80%;
	top: 0;
}
.pricing-heading-container-text-details-paragraph-small-2{
font-size: 5vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: #A6ACAF;
text-align: center;
}
.btn-find-2{
	padding: 1vw 7vw;
	background-color: #000;
	color: #FFF;
	outline-style: none;
	border-style: none;
	border-radius: 5px;
	font-size: 5vw;
	margin-left: 16vw;
	outline: none;
	position: absolute;
	margin-top: 50vw;
}
.btn-find:hover{
background-color: #2E4053;
transition: .3s;
}
.downloads{
height: 330vw;
width: 100%;
background-color: #FBF1F9;
}
.downloads-img{
position: absolute;
margin-top: 1050vw;
height: 20vw;
width: 100%;
}
.downloads-img-wrapper{
height: 50vw;
width: 100%;
margin-left: 1vw;
}
.downloads-img-caption{
font-size: 8vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: #000;
text-align: center;
margin-top: 2vw;
}
.downloads-img-icon{
height:50vw;
width: 50vw;
margin-left: 25vw;
margin-top: 10vw;
}
footer{
	height: 300vw;
	width: 100%;
}
#footer-wrapper{
width: 100%;
height: 20vw;
margin-top: 1335vw;
position: absolute;
}
.footer-wrapper-menu{
height: 20vw;
width: 80%;
display: inline-block;
margin-left: 10vw;
}
.footer-wrapper-menu-title{
font-size: 8vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: #000;
text-align: center;
margin-top: 3vw;
}
.footer-wrapper-menu-paragraph{
font-size: 5vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: #5D6D7E;
text-align: center;
margin-top: 1vw;
line-height: 10vw;
}
.footer-wrapper-copyright{
	background-color: #000;
	height: 60px;
	width: 100%;
	position: absolute;
	margin-top: 1610vw;
}
.footer-wrapper-copyright-heading{
	font-size: 3vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: rgba(243, 156, 18, 0.97);
text-align: center;
margin-top: 1vw;
line-height: 40px;
}
.footer-wrapper-menu-downloads{
width: 100%;
height: 25vw;
margin-top: 6vw;
cursor: pointer;
}

.alert {
	  position: fixed;
  padding: 30px;
  top: 33vw;
  left: 12vw;
  background-image: url('../images/bg-pricing.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  width: 80%;	
  z-index: 999;
  height: 130vw;
  font-size: 3vw;
  text-align: center;
}

.closebtn {
  margin-left: 15px;
  font-weight: bold;
  float: right;
  font-size: 52px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;

}
strong{
font-size: 7vw;
}
.alert-paragraph{
font-size: 3vw;
color: #000;
}
.alert-title{
	
}
/*Mobile View*/

@media only screen and (max-width: 600px) {
body,html{
background-color: #FFF;
margin: 0em;
padding: 0px;
scroll-behavior: smooth;
}

#nav{
background-color: #000;
}
.nav-toggle{
width: 100%;
padding: 10px 20px;
text-align: right;
margin-left: 0vw;
box-sizing: border-box;
color: #FFF;
display: block;
font-size: 10vw;
background-color: #000;
}
ul{
width: 100%;
display: none;
}

#nav ul li{
display: block;
text-align: center;
}
.active{
display: block;
}
ul li a{
text-decoration: none;
color: orange;
font-family: 'Nunito', sans-serif;
font-weight: 300;
font-size: 6vw;
text-align: center;
}
.highlight-content{
	background-image: url('../images/bg-highlight.png');
	height:250vw;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-color: #1C1E20;
	background-repeat: no-repeat;
}
.highlight-content-img{
height: 55vw;
width: 30vw;
position: absolute;
top: 35vw;
left: 10vw;
}
.highlight-content-heading{
top: 40vw;
left: 42vw;
position: absolute;
}
.highlight-content-heading-1{

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 8vw;
line-height: 94px;
color: #FFFFFF;
}
.highlight-content-heading-2{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 8vw;
line-height: 9px;
color: #FFFFFF;
}
.highlight-content-logo{
position: absolute;
top: 60vw;
left: -22vw;
}
.highlight-content-logo-img{
height:60vw;
width: 60vw;
}
.highlight-content-logo-img-heading{
position: absolute;
top: 70vw;
left: 1vw;
width: 100%;
}
.highlight-content-logo-img-heading-title{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 10vw;
color: #FFFFFF;
text-align: center;
}
.highlight-content-logo-img-heading-details{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 5vw;
color: #FFFFFF;
text-align: center;
}
#about-us{
	height: 220vw;
	width: 100%;
	background-color: #1C1E20;
}
.about-us-bg{
height: 18vw;
width: 100%;
margin-top: 3vw;
float: right;
}
.about-us-wrapper{
position: absolute;
width: 60vw;
top: 244vw;
left: 22vw;
}
.about-us-wrapper-title{
	font-size: 7vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
text-align: center;
color: rgba(243, 156, 18, 0.96);
}
.about-us-wrapper-paragraph{
font-size: 4vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: #FFF;
text-align: center;
}

#blog{
	height: 365vw;
	width: 100%;
	background-color: #1C1E20;
}
.blog-wrapper{
	top: 480vw;
	width: 100%;
	position: absolute;

}
.blog-wrapper-title{
font-size: 9vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: rgba(243, 156, 18, 0.96);
text-align: center;
}
.blog-wrapper-details{
font-size: 4vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: #FFF;
text-align: center;
}
.blog-wrapper-card{
height: 100vw;
width: 80vw;
background-color: #fFF;
border-radius: 10px;
margin-left: 9vw;
margin-top: 2vw;
display: inline-block;
cursor: pointer;
}
.blog-wrapper-container{
	height: 60vw;
	width: 100%;
	border-radius:10px;
}
.blog-wrapper-container-img{
	height: 60vw;
	width: 80%;
	border-radius:4px;
	position: absolute;
}
.blog-wrapper-container-text{
position: absolute;
margin-top: 60vw;
width: 80%;
}
.blog-wrapper-container-text-1{
position: absolute;
margin-top: 165vw;
width: 80%;
}
.blog-wrapper-container-text-2{
position: absolute;
margin-top: 270vw;
width: 80%;
}


.blog-wrapper-container-text-title{
font-size: 5vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: #000;
text-align: center;
}
.btn-read{
outline-style: none;
background: #EA2A2A;
border-radius: 4px;
border-style: none;
position: absolute;
padding: 4vw 12vw;
color: #FFF;
margin-top: 10vw;
margin-left: 17vw;

}
.btn-read:hover{
	transition: .5s;
	background-color: #CB4335;
}
.blog-wrapper-card:hover{
  box-shadow: 0 8px 16px 0 rgba(227, 227, 227 ,0.9);
  transition: .4s;
}
#pricing{
	height: 400vw;
	width: 100%;
	background-image: url('../images/bg-pricing.png');
	background-size: cover;
	background-position: center;
}
.pricing-heading{
	width: 100%;
	top:850vw;
	position: absolute;
}
.pricing-heading-title{
	font-size: 10vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: #000;
text-align: center;
}

.pricing-heading-paragraph{
	font-size: 4vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: #FFF;
text-align: center;
}
.pricing-heading-card{
background-color: #FFF;
height: 110vw;
width: 80vw;
border-radius: 4px;
margin-left: 9vw;
margin-top: 3vw;
}
.pricing-heading-container{
height: 28vw;
width: 80vw;
background-color: #000;
}
.pricing-heading-container-text{
width: 80vw;
margin-top: 26vw;
position: absolute;
}
.pricing-heading-container-text-title{
font-size: 8vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: rgba(241, 196, 15, 0.96);
text-align: center;
margin-top: 2vw;
}
.pricing-heading-container-text-title-1{
font-size: 8vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: rgba(241, 196, 15, 0.96);
text-align: center;
margin-top: 116vw;
margin-left: 23vw;
position: absolute;
}
.pricing-heading-container-text-title-2{
font-size: 8vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: rgba(241, 196, 15, 0.96);
text-align: center;
margin-top: 230vw;
margin-left: 14vw;
position: absolute;
}
.pricing-heading-container-text-title-small{
	font-size: 4vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: #E74C3C;
margin-top: 125vw;
text-align: center;
}
.pricing-heading-container-text-details{
margin-top: 15vw;
position: absolute;	
width: 100%;
}
.pricing-heading-container-text-details-paragraph{
font-size: 8vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: #000;
text-align: center;
}
hr{
	width: 80%;
	top: 0;
}
.pricing-heading-container-text-details-paragraph-small{
font-size: 3vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: #A6ACAF;
text-align: center;
}
.btn-find{
	padding: 1vw 7vw;
	background-color: #000;
	color: #FFF;
	outline-style: none;
	border-style: none;
	border-radius: 5px;
	font-size: 5vw;
	margin-left: 16vw;
	outline: none;
	position: absolute;
	margin-top: 1vw;
}
.btn-find:hover{
background-color: #2E4053;
transition: .3s;
}
.pricing-heading-container-text-details-1{
margin-top: 130vw;
position: absolute;	
width: 100%;
}
.pricing-heading-container-text-details-paragraph-1{
font-size: 8vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: #000;
text-align: center;
}
hr{
	width: 80%;
	top: 0;
}
.pricing-heading-container-text-details-paragraph-small-1{
font-size: 3vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: #A6ACAF;
text-align: center;
}
.btn-find-1{
	padding: 1vw 7vw;
	background-color: #000;
	color: #FFF;
	outline-style: none;
	border-style: none;
	border-radius: 5px;
	font-size: 5vw;
	margin-left: 16vw;
	outline: none;
	position: absolute;
	margin-top: -15vw;
}
.pricing-heading-container-text-details-2{
margin-top: 247vw;
position: absolute;	
width: 100%;
}
.pricing-heading-container-text-details-paragraph-2{
font-size: 8vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: #000;
text-align: center;
}
hr{
	width: 80%;
	top: 0;
}
.pricing-heading-container-text-details-paragraph-small-2{
font-size: 3vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: #A6ACAF;
text-align: center;
}
.btn-find-2{
	padding: 1vw 7vw;
	background-color: #000;
	color: #FFF;
	outline-style: none;
	border-style: none;
	border-radius: 5px;
	font-size: 5vw;
	margin-left: 16vw;
	outline: none;
	position: absolute;
	margin-top: 50vw;
}
.btn-find:hover{
background-color: #2E4053;
transition: .3s;
}
.downloads{
height: 330vw;
width: 100%;
background-color: #FBF1F9;
}
.downloads-img{
position: absolute;
margin-top: 1050vw;
height: 20vw;
width: 100%;
}
.downloads-img-wrapper{
height: 50vw;
width: 100%;
margin-left: 1vw;
}
.downloads-img-caption{
font-size: 8vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: #000;
text-align: center;
margin-top: 2vw;
}
.downloads-img-icon{
height:50vw;
width: 50vw;
margin-left: 25vw;
margin-top: 10vw;
}
footer{
	background-color: #FFF;
	height: 330vw;
	width: 100%;
}
#footer-wrapper{
width: 100%;
height: 20vw;
margin-top: 1335vw;
position: absolute;
}
.footer-wrapper-menu{
height: 20vw;
width: 80%;
display: inline-block;
margin-left: 10vw;
}
.footer-wrapper-menu-title{
font-size: 8vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: #000;
text-align: center;
margin-top: 1vw;
}
.footer-wrapper-menu-paragraph{
font-size: 4vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: #5D6D7E;
text-align: center;
margin-top: 1vw;
line-height: 40px;
}
.footer-wrapper-copyright{
	background-color: #000;
	height: 60px;
	width: 100%;
	position: absolute;
	margin-top: 1630vw;
}
.footer-wrapper-copyright-heading{
	font-size: 3vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: rgba(243, 156, 18, 0.97);
text-align: center;
margin-top: 1vw;
line-height: 40px;
}
.footer-wrapper-menu-downloads{
width: 100%;
height: 25vw;
margin-top: 6vw;
cursor: pointer;
}

.alert {
	  position: fixed;
  padding: 30px;
  top: 33vw;
  left: 12vw;
  background-image: url('../images/bg-pricing.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  width: 80%;	
  z-index: 999;
  height: 130vw;
  font-size: 3vw;
  text-align: center;
}

.closebtn {
  margin-left: 15px;
  font-weight: bold;
  float: right;
  font-size: 52px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;

}
strong{
font-size: 7vw;
}
.alert-paragraph{
font-size: 3vw;
color: #000;
}
.alert-title{
	font-size: 3vw;
}